@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sarabun&display=swap');

:root {
    --primary-color: #3D405B;
    --secondary-color: #F2CC8F;
    --accent1-color: #E07A5F;
    --accent2-color: #81B29A;
    --heading-font: Caveat, cursive;
    --paragraph-font: Sarabun, sans-serif;
    --nav-background-color: #81B29A;
    --nav-link-color: #3D405B;
    --nav-hover-link-color: #75521c;
    --nav-hover-background-color: #F4F1DE;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

#home {
    background-image: url('../images/homepage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    column-gap: 10px;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-background-color);
    border: 1px black solid;
}

nav a {
    color: var(--nav-link-color);
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

#home h1 {
    font-family: var(--heading-font);
    color: white;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

#absolute {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    width: 330px;
    margin: 0 auto; 
    padding: 5px;
    padding-right: 8px;
    background-color: rgba(0,0,0,.5);
    color: white;
}

.hero {
    position: relative;
}

#hero-img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    top: 100px;
    background-color: #3D405B95;
    padding: 10px;
}

article p {
    display: inline;
    color: white;
    font-weight: bold;
}

#article-img {
    display: inline;
    width: 100px;
    float: right;
}

#history {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    padding: 0;
    margin-top: 0;
}

#adventure{
    display: flex;
    justify-content: space-between;

}

#adventure figure {
    width: 150px;
    height: 150px;
    margin: 0; 
}

#adventure img {
    width: 150px;
    height: 150px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.sociallinks a img {
    width: 30px;
    height: 30px;
}

.sociallinks a {
    padding: 5px;
}

footer p {
    padding-right: 10px;
    text-align: center;
}

figcaption {
    text-align: center;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: lightgreen;
    border-radius: 8px;
    display: grid;
    padding: .7rem;
}

#newsletter-form {
    max-width: 300px;
    margin: 0 auto;
    background-color: lightgray;
    opacity: 0.9;
    border-radius: 8px;
    display: grid;
    padding: .7rem;
}

#staff{
    display: flex;
    justify-content: center;
    gap: 50px;

}

#staff figure {
    width: 150px;
    height: 150px;
    margin: 0; 
}

#staff img {
    width: 150px;
    height: 150px;
}

#contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 8px;
}

li {
    list-style-type: none;
    font-size: 1.2rem;
    padding-bottom: 15px;
}

button {
    margin: 1rem;
    background-color: var(--nav-link-color);
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: fit-content; /* Make button fit the width of the text */
    margin: 0 auto;
}

button:hover {
    background-color: var(--nav-hover-link-color);
}

input, label, textarea, button {
    margin-bottom: 8px;
}

#trips {
    display: flex;
    flex: 1 200px;
    justify-content: space-around;
}

.trip img {
    display: block;
}

.trip button {
    margin-top: 20px;
    display: block;
}

table {
    margin: 40px auto;
    border-collapse: collapse;
    border: 2px solid gray;
}

th, td {
    border: 1px solid gray;
    padding: 7px;
}

#questions {
    text-align: center;
}

#questions p {
    display: inline;
    font-size: x-large;
    margin-right: 10px;
}

#questions button {
    display: inline;
}

#ready {
    text-align: center;
}

#ready button {
    display: inline;
}

#subscribe {
    text-align: center;
    font-weight: bold;
}

#offerings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    padding: 20px;
}

#offerings img {
    border: 3px solid black;
}

#offerings figcaption {
    color: white;
    font-size: 1.2rem;
}

#adventure-awaits, #questions, #contact-form {
    margin-bottom: 50px;
}