* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    display: block;
    text-decoration: none;
}

li a {
    color: white;
    text-decoration: none;
}

h1 {
    color: steelblue;
    border-bottom: solid 1px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin: 10px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    margin-top: 10px;
    grid-column: 2;
    
}
aside {
    width: 20em;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    position: relative;
}


aside h2 {
    position: absolute;
    top: 35px;
    left: 120px;
}

aside img {
    width: 280px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 2px solid black;
    text-align: center;
}

/* class selectors */

.box {
    margin: 1rem; /* equal to the root font size */
    background-color: gray;
    color: whitesmoke;
    border: 1px solid black;
    padding: 1rem;
}

.indent {
    padding-left: 2rem;
}